.error { color: red; }

.hero-unit {
	padding: 30px;
}

.question-display-ul {
	margin:0 0 10px 0;
	padding:20px 0 20px 20px;
	list-style-type:none;
	border:1px solid #eee;
    background-color: #efefef;
    list-style-type: none;
}

.question-display-ul ul {
    list-style-type:none;
}

.question-display-ul ul li {
	margin-top:20px;
	margin-right: 20px;
	padding-top:15px;
	border:1px solid #eee;
    list-style-type:none;
}

#question-submit {
    width:45px; height:30px; line-height:30px;
    margin-left:10px;
    margin-bottom:9px;
}
